.nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}

.nav-bar {
  margin: 0px;
  padding: 5px 0px 5px 20px;
  background-color: #BFDEE7;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.account-text {
  margin-left: 20px;
  font-size: 16px;
  color: #333;
}

.nav-bottom-bar {
  font-size: 12px;
  bottom: 0px;
  margin: 0px;
  background-color: #FFF2E9;
  position: fixed;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; 
}

.nav-bottom-bar p {
  margin: 5px;
}

.nav-right {
  margin-right: 50px;
  display: flex; /* Ensure flexbox layout */
  align-items: center; /* Align items vertically centered */
  gap: 10px; /* Add space between buttons */
}

.account-button,
.logout-button {
  border: 2px solid #1D98BA;
  background-color: #FFF;
  color: #1D98BA;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
}

.account-button:hover,
.logout-button:hover {
  background-color: #1D98BA;
  color: #FFF;
}
